.bpmn-icon-ghost {
  background-image: url('./resources/icon/ghost.png');
}

.icon-custom {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center center;
}

.bpmn-icon-user1 {
  background-image: url('./resources/icon/user.png');
}

.bpmn-icon-chaxiao {
  background-image: url('./resources/icon/chaxiao.png');
}

.bpmn-icon-chilun {
  background-image: url('./resources/icon/chilun.png');
}

.bpmn-icon-jiekou {
  background-image: url('./resources/icon/jiekou.png');
}

.bpmn-icon-shuilongtou {
  background-image: url("./resources/icon/shuilongtou.png");
}

.bpmn-icon-industry_data {
  background-image: url("./resources/icon/industry_data.png");
}

.bpmn-icon-cloud_database {
  background-image: url("./resources/icon/cloud_database.png");
}

.bpmn-icon-pc {
  background-image: url("./resources/icon/pc.png");
}
